
.why-choose-us {
    padding: 50px 0;
}
.why-choose-us .card {
    transition: transform 0.3s;
}
.why-choose-us .card:hover {
    transform: scale(1.05);
}
.why-choose-us .card img {
    height: 200px;
    object-fit: cover;
}
.why-choose-us .card-body {
    text-align: center;
}
.section-title {
    text-align: center;
    margin-bottom: 50px;
}
body{
    background-color: rgba(149, 249, 149, 0.81);
}